# Problem definition

Analyzing funding received by start-ups in in different sectors in
India from 2018 to 2021

# Importations

In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

# Loading Data

In [3]:
data_2018 = pd.read_csv('startup_funding2018.csv')
data_2019 = pd.read_csv('startup_funding2019.csv') 
data_2020 = pd.read_csv('startup_funding2020.csv') 
data_2021 = pd.read_csv('startup_funding2021.csv')

# Dataset overview

### Inspecting 2018 data

In [4]:
data_2018.head()

,Company Name,Industry,Round/Series,Amount,Location,About Company
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

Checking Data types

In [5]:
data_2018.info() # Checking the size of the dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
dtypes: object(6)
memory usage: 24.8+ KB

In [6]:
data_2018["Amount"] # Checking the Amount column

0           250000
1      ₹40,000,000
2      ₹65,000,000
3          2000000
4                —
          ...
521      225000000
522              —
523           7500
524    ₹35,000,000
525       35000000
Name: Amount, Length: 526, dtype: object

### Dropping the ₹ sign

In [7]:
data_2018["Amount"] = data_2018.Amount.apply(lambda x:str(x).replace("₹", ""))
data_2018["Amount"]

0          250000
1      40,000,000
2      65,000,000
3         2000000
4               —
          ...
521     225000000
522             —
523          7500
524    35,000,000
525      35000000
Name: Amount, Length: 526, dtype: object

In [9]:
data_2018.isna().sum() # Checking for missing values

Company Name     0
Industry         0
Round/Series     0
Amount           0
Location         0
About Company    0
dtype: int64

### Inspecting 2019 dataset

In [10]:
data_2019.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN
1,Ruangguru,2014.0,Mumbai,Edtech,A learning platform that provides topic-based ...,"Adamas Belva Syah Devara, Iman Usman.",General Atlantic,"$150,000,000",Series C
2,Eduisfun,NaN,Mumbai,Edtech,It aims to make learning fun via games.,Jatin Solanki,"Deepak Parekh, Amitabh Bachchan, Piyush Pandey","$28,000,000",Fresh funding
3,HomeLane,2014.0,Chennai,Interior design,Provides interior designing solutions,"Srikanth Iyer, Rama Harinath","Evolvence India Fund (EIF), Pidilite Group, FJ...","$30,000,000",Series D
4,Nu Genes,2004.0,Telangana,AgriTech,"It is a seed company engaged in production, pr...",Narayana Reddy Punyala,Innovation in Food and Agriculture (IFA),"$6,000,000",NaN

In [11]:
data_2019.info() # Checking the dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  89 non-null     object
 1   Founded        60 non-null     float64
 2   HeadQuarter    70 non-null     object
 3   Sector         84 non-null     object
 4   What it does   89 non-null     object
 5   Founders       86 non-null     object
 6   Investor       89 non-null     object
 7   Amount($)      89 non-null     object
 8   Stage          43 non-null     object
dtypes: float64(1), object(8)
memory usage: 6.4+ KB

In [12]:
data_2019.isna().sum()

Company/Brand     0
Founded          29
HeadQuarter      19
Sector            5
What it does      0
Founders          3
Investor          0
Amount($)         0
Stage            46
dtype: int64

In [13]:
data_2020.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage,Unnamed: 9
0,Aqgromalin,2019,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,"$200,000",NaN,NaN
1,Krayonnz,2019,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,"$100,000",Pre-seed,NaN
2,PadCare Labs,2018,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,Undisclosed,Pre-seed,NaN
3,NCOME,2020,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital","$400,000",NaN,NaN
4,Gramophone,2016,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge","$340,000",NaN,NaN

In [14]:
data_2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1055 entries, 0 to 1054
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1055 non-null   object
 1   Founded        843 non-null    object
 2   HeadQuarter    961 non-null    object
 3   Sector         1042 non-null   object
 4   What it does   1055 non-null   object
 5   Founders       1043 non-null   object
 6   Investor       1017 non-null   object
 7   Amount($)      1052 non-null   object
 8   Stage          591 non-null    object
 9   Unnamed: 9     2 non-null      object
dtypes: object(10)
memory usage: 82.5+ KB

In [15]:
data_2021.head()

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount($),Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",NaN
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [16]:
data_2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1209 entries, 0 to 1208
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  1209 non-null   object
 1   Founded        1208 non-null   float64
 2   HeadQuarter    1208 non-null   object
 3   Sector         1209 non-null   object
 4   What it does   1209 non-null   object
 5   Founders       1205 non-null   object
 6   Investor       1147 non-null   object
 7   Amount($)      1206 non-null   object
 8   Stage          781 non-null    object
dtypes: float64(1), object(8)
memory usage: 85.1+ KB

Creating new columns["Founded","Founders","Stage", "Investor"] for 2018 dataset to match 2019, 2020, and 2021 datasets

In [49]:
#using 'df["New_column_name"] = pd.Series([Values])'
new_2018 = data_2018["Founded"] = pd.Series([0, 0, 0, 0])
new_2018 = data_2018["Stage"] = pd.Series(["0","0","0","0"])
new_2018 = data_2018["Founders"] = pd.Series(["0","0","0","0"])
new_2018 = data_2018["Investor"] = pd.Series(["0","0","0","0"])
data_2018.head(50)

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded,Stage,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,0,0,0
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,0.0,0,0,0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,0.0,0,0,0
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,0,0,0
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,NaN,NaN,NaN,NaN
5,Hasura,"Cloud Infrastructure, PaaS, SaaS",Seed,1600000,"Bengaluru, Karnataka, India",Hasura is a platform that allows developers to...,NaN,NaN,NaN,NaN
6,Tripshelf,"Internet, Leisure, Marketplace",Seed,"16,000,000","Kalkaji, Delhi, India",Tripshelf is an online market place for holida...,NaN,NaN,NaN,NaN
7,Hyperdata.IO,Market Research,Angel,"50,000,000","Hyderabad, Andhra Pradesh, India",Hyperdata combines advanced machine learning w...,NaN,NaN,NaN,NaN
8,Freightwalla,"Information Services, Information Technology",Seed,—,"Mumbai, Maharashtra, India",Freightwalla is an international forwarder tha...,NaN,NaN,NaN,NaN
9,Microchip Payments,Mobile Payments,Seed,—,"Bangalore, Karnataka, India",Microchip payments is a mobile-based payment a...,NaN,NaN,NaN,NaN
10,BizCrum Infotech Pvt. Ltd.,"B2B, Shoes",Seed,—,"Delhi, Delhi, India",Building Transactionary B2B Marketplaces,NaN,NaN,NaN,NaN
11,Emojifi,Internet,Seed,—,"Bengaluru, Karnataka, India","Emojifi is an app that provides live emoji, st...",NaN,NaN,NaN,NaN
12,Flock,"Apps, Collaboration, Developer Platform, Enter...",Seed,—,"India, Asia",Flock is a real-time messaging and collaborati...,NaN,NaN,NaN,NaN
13,Freshboxx,Food Delivery,Seed,—,"Hubli, Karnataka, India","Freshboxx is incubated at Sandbox Startups, a ...",NaN,NaN,NaN,NaN
14,Wide Mobility Mechatronics,Industrial Automation,Seed,—,"Bangalore, Karnataka, India",Wide Mobility Mechatronics is a Private Compan...,NaN,NaN,NaN,NaN
15,Pitstop,"Automotive, Search Engine, Service Industry",Seed,"100,000,000","Bengaluru, Karnataka, India",Pitstop offers general repair and maintenance ...,NaN,NaN,NaN,NaN
16,Mihuru,"Finance, Internet, Travel",Seed,150000,"Mumbai, Maharashtra, India",Mihuru is an online platform which gives micro...,NaN,NaN,NaN,NaN
17,Fyle,"Accounting, Business Information Systems, Busi...",Seed,1100000,"Bengaluru, Karnataka, India",Fyle is an intelligent expense management plat...,NaN,NaN,NaN,NaN
18,AppWharf,"Artificial Intelligence, Product Search, SaaS,...",Seed,—,"New Delhi, Delhi, India",Appwharf is an intelligent assistant that help...,NaN,NaN,NaN,NaN
19,Antariksh Waste Ventures Pvt ltd,"Internet of Things, Waste Management",Seed,"500,000","Chennai, Tamil Nadu, India",Waste Management for Smart Cities,NaN,NaN,NaN,NaN
20,Cogoport,"Air Transportation, Freight Service, Logistics...",Series A,6000000,"Mumbai, Maharashtra, India",Cogoport is a platform that provides freight b...,NaN,NaN,NaN,NaN
21,PaisaDukan,Financial Services,Seed,650000,"Mumbai, Maharashtra, India",A P2P lending marketplace platform,NaN,NaN,NaN,NaN
22,Sleepy Owl Coffee,Food and Beverage,Seed,"35,000,000","New Delhi, Delhi, India",Makers of a signature coffee that's exceptiona...,NaN,NaN,NaN,NaN
23,BlueJack,Autonomous Vehicles,Seed,"64,000,000","Delhi, Delhi, India",Delhi-based online used vehicles marketplace.,NaN,NaN,NaN,NaN
24,PregBuddy,"Enterprise Software, Health Care, Hospital, Pa...",Seed,—,"Bengaluru, Karnataka, India",PregBuddy is a smart connected care platform f...,NaN,NaN,NaN,NaN
25,AgNext Technologies,"Agriculture, Analytics, Big Data, Farming",Series A,—,"Mohali, Punjab, India",AgNext is an agricultural sensing and solution...,NaN,NaN,NaN,NaN
26,Pando,"Logistics, Supply Chain Management",Seed,2000000,"Chennai, Tamil Nadu, India",A startup which digitizes logistics operations...,NaN,NaN,NaN,NaN
27,Mintifi,"Financial Services, Lending",Seed,2000000,"Mumbai, Maharashtra, India",Online lending startup based in Mumbai.,NaN,NaN,NaN,NaN
28,Carcrew,"Automotive, Marketplace, Online Portals",Seed,2000000,"Mumbai, Maharashtra, India",India's Online Auto Repair Marketplace,NaN,NaN,NaN,NaN
29,NicheAI,Artificial Intelligence,Angel,—,"Hyderabad, Andhra Pradesh, India",Early stage Artificial Intelligence (AI) start...,NaN,NaN,NaN,NaN
30,Chariot Tech,"Internet of Things, Telecommunications",Seed,"20,000,000","New Delhi, Delhi, India",Chariot Tech is an Internet of Things (IoT) st...,NaN,NaN,NaN,NaN
31,Ideal Insurance Brokers/ 121Policy.com,Insurance,Seed,1000000,"Kolkata, West Bengal, India",Ideal Insurance Broking is one of the leaders ...,NaN,NaN,NaN,NaN
32,Loanzen,Financial Services,Seed,—,"Bangalore, Karnataka, India",Loanzen helps small businesses get unsecured w...,NaN,NaN,NaN,NaN
33,Mojro Technologies,"Information Technology, Logistics, Supply Chai...",Seed,650000,"Bengaluru, Karnataka, India",Mojro envisions to be the world's largest tech...,NaN,NaN,NaN,NaN
34,Elemential,"Blockchain, Developer Tools, Enterprise Software",Seed,1000000,"Mumbai, Maharashtra, India","Blockchain Development Platform To Design, Run...",NaN,NaN,NaN,NaN
35,Loadshare,"Industrial Automation, Logistics, Supply Chain...",Series A,5000000,"Bengaluru, Karnataka, India",LoadShare is India’s fastest growing logistics...,NaN,NaN,NaN,NaN
36,Yumlane,"Food and Beverage, Food Delivery, Snack Food",Series A,4000000,"Mumbai, Maharashtra, India",Food startup Yumlane operated by QwikPik Techn...,NaN,NaN,NaN,NaN
37,Kriger Campus,Education,Seed,"30,000,000","New Delhi, Delhi, India",A Education Start Up.,NaN,NaN,NaN,NaN
38,Pipa+Bella,"E-Commerce, Fashion, Jewelry, Retail",Series A,1000000,"Mumbai, Maharashtra, India",Pipa+Bella is an online store aimed at selling...,NaN,NaN,NaN,NaN
39,Kaleidofin,Financial Services,Seed,2800000,"Chennai, Tamil Nadu, India",A fintech platform.,NaN,NaN,NaN,NaN
40,Chakr Innovation,Renewable Energy,Seed,—,"New Delhi, Delhi, India",Chakr has developed the world’s first retro-fi...,NaN,NaN,NaN,NaN
41,IndigoLearn,"E-Learning, Education",Seed,150000,"Hyderabad, Andhra Pradesh, India",India's the premier education destination cate...,NaN,NaN,NaN,NaN
42,UClean,"Clean Energy, CleanTech, Laundry and Dry-cleaning",Seed,"40,000,000","India, Asia",UClean is a tech enabled laundry service provi...,NaN,NaN,NaN,NaN
43,Coutloot,"E-Commerce, Fashion, Mobile",Seed,1000000,"Mumbai, Maharashtra, India",The Fashion Re-commerce platform.,NaN,NaN,NaN,NaN
44,Letstrack,"Apps, Messaging, Navigation, Public Safety",Seed,1700000,"New Delhi, Delhi, India",Letstrack GPS tracking devices to track your k...,NaN,NaN,NaN,NaN
45,Pooltoo,Transportation,Seed,—,"New Delhi, Delhi, India",Pooltoo offers a premium ride sharing platform.,NaN,NaN,NaN,NaN
46,Finzy,"Financial Services, Lending",Seed,1300000,"Bangalore, Karnataka, India",finzy is the premier peer to peer lending solu...,NaN,NaN,NaN,NaN
47,Fitternity,"Fitness, Health Care, Wellness",Seed,2000000,"Mumbai, Maharashtra, India",India's largest online fitness platform that p...,NaN,NaN,NaN,NaN
48,Keito,"Artificial Intelligence, Machine Learning, Saa...",Seed,—,"Pune, Maharashtra, India",Building an Intelligent Digital Assistant.,NaN,NaN,NaN,NaN
49,Tolet for Students,Hospitality,Seed,"5,000,000","Jodhpur, Rajasthan, India","Reserve your Room, Hostel or Paying Guest, whi...",NaN,NaN,NaN,NaN

In [24]:
#fill in NaN values with zero
new_2018 = data_2018.fillna(0)
new_2018

,Company Name,Industry,Round/Series,Amount,Location,About Company,Founded,Stage,Founders,Investor
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f...",0.0,0,0,0
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...,0.0,0,0,0
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India,0.0,0,0,0
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...,0.0,0,0,0
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...,0.0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
521,Udaan,"B2B, Business Development, Internet, Marketplace",Series C,225000000,"Bangalore, Karnataka, India","Udaan is a B2B trade platform, designed specif...",0.0,0,0,0
522,Happyeasygo Group,"Tourism, Travel",Series A,—,"Haryana, Haryana, India",HappyEasyGo is an online travel domain.,0.0,0,0,0
523,Mombay,"Food and Beverage, Food Delivery, Internet",Seed,7500,"Mumbai, Maharashtra, India",Mombay is a unique opportunity for housewives ...,0.0,0,0,0
524,Droni Tech,Information Technology,Seed,"35,000,000","Mumbai, Maharashtra, India",Droni Tech manufacture UAVs and develop softwa...,0.0,0,0,0
525,Netmeds,"Biotechnology, Health Care, Pharmaceutical",Series C,35000000,"Chennai, Tamil Nadu, India",Welcome to India's most convenient pharmacy!,0.0,0,0,0

In [ ]:
#adding Column using assign() method
#df.assign(new_column_name=value).head()

In [ ]:
# adding column using insert() method
data_2018.insert(loc=1, column='Founded', value='0', allow_duplicates=True)
data_2018.insert(loc=5, column='Founders', value='0', allow_duplicates=True)
data_2018.insert(loc=8, column='Stage', value='0', allow_duplicates=True)
data_2018.insert(loc=6, column='Investor', value='0', allow_duplicate=True)

In [25]:
new_2018.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 526 entries, 0 to 525
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company Name   526 non-null    object
 1   Industry       526 non-null    object
 2   Round/Series   526 non-null    object
 3   Amount         526 non-null    object
 4   Location       526 non-null    object
 5   About Company  526 non-null    object
 6   Founded        526 non-null    float64
 7   Stage          526 non-null    object
 8   Founders       526 non-null    object
 9   Investor       526 non-null    object
dtypes: float64(1), object(9)
memory usage: 41.2+ KB

In [38]:
# Inspecting the values in "Amount" column
new_2018['Amount']

0          250000
1      40,000,000
2      65,000,000
3         2000000
4               —
          ...
521     225000000
522             —
523          7500
524    35,000,000
525      35000000
Name: Amount, Length: 526, dtype: object

In [36]:
# Convert Amount value from integer to float

In [ ]:
#new_2018['Amount']=new_2018['Amount'].astype(float)

#new_2018['Amount']=new_2018['Amount'].to_numeric(new_2018['Amount'], downcast='float')

In [48]:
#new_2018[new_2018.columns[3:]] = new_2018[new_2018.columns[3:]].replace('[\$,]', '', regex=True).astype(float)

In [ ]:
#import babel.numbers
#import decimal
#babel.numbers.format_currency( decimal.Decimal( "188518982.18" ), "GBP" )

# Hypotheses

Null Hypothesis, H0: 
    There is no relationship between Amount sourced and Industry
    
Alternative Hypothesis, H1:
    There is a relationship between Amount sourced and Industry

# Questions

1. Which Industry received the highest funding?
2. Is there a relationship between the Age of Company and Amount of funding sourced?
3. Which investors give the highest funding?
4. Is location a factor in sourcing funding?
5. Which type of funding is mostly accessed?